<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACZwRmOnn_I3womjRb-4ghFudWwccaCeI</string>
	<key>GCM_SENDER_ID</key>
	<string>355766879041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.motosystems.rescuepedia</string>
	<key>PROJECT_ID</key>
	<string>rescuepedia</string>
	<key>STORAGE_BUCKET</key>
	<string>rescuepedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:355766879041:ios:3543d6cbab9500250c57c0</string>
</dict>
</plist>
